<%= form_for @link do |f| %>
<div class="mb-3">
    <%= f.text_field :title, class:"form-control mb-2",placeholder:"Title", required:true %>
    <%= f.text_field :source, class:"form-control mb-2 text-primary",placeholder:"Source Link", required:true %>
</div>

<!-------------form buttons-------------------->
  <div class="d-flex flex-row mt-2 gap-2">
    <div class="flex-fill">
        <span class="btn btn-outline-danger form-control" data-bs-dismiss="modal">Cancel</span>
    </div>
    <div class="flex-fill">
    <%= f.submit "Add", disable_with: 'Adding...',class:"btn btn-outline-success form-control" %>
    </div>
  </div>
  <!---------------------#########################-------------------------->
<% end %>